<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú del restaurante</title>
</head>
<body>
    <a href="/index">Home</a><br>
    <a href="/menu">Ver menú</a><br>
    <a href="/platos">Añadir plato</a>
    <h1>Menú del restaurante</h1>
    <h2>Platos disponibles</h2>
    <div th:each="plato : ${platos}">
        <h3 th:text="${plato.nombre}"></h3>
        <p>Precio: <span th:text="${plato.precio}"></span> €</p>
        <p>Tipo: <span th:text="${plato.tipo}"></span></p>
    </div>
</body>
</html>